{% extends 'blog/base.html' %}

{% block content %}
  <h1>About Us</h1>
<p>Certainly! Here's a sample project summary for an advertising company:

"Our advertising company specializes in creating impactful digital marketing campaigns that drive brand awareness and customer engagement. With a team of experienced designers, copywriters, and marketing strategists, we deliver tailored solutions to meet your specific goals. Whether it's social media management, display advertising, or influencer partnerships, we're committed to helping your brand stand out in the crowded online landscape."</p>
  <p><h2>Lead developer Details:</h2><br>M Ramkumar<br> Contact no: 7993031909 <br> MailId: 1ramkumar758@gmail.com</p>

  <div class="developer-details">
    <h2>Support developer Details</h2>
    <p>Manoj R<br> Contact no: 9632587410<br> MailId: manoj@gmail.com</p>
  </div>

  <div class="developer-details">
    <p>Ramkumar<br> Contact no: 9876543210<br> MailId: ramkumar@gmail.com</p>

  </div>
{% endblock %}
