<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>types</title>
</head>

<body>
 <h1>Types of Online Advertising</h1>

    <h2>1. Display Ads</h2>
    <p>Display ads are graphical ads that appear on websites. They can be in the form of banners, images, or videos.</p>

    <h2>2. Search Engine Marketing (SEM)</h2>
    <p>SEM involves promoting a website by increasing its visibility on search engine results pages through paid advertising.</p>

    <h2>3. Social Media Advertising</h2>
    <p>Social media advertising involves creating and sharing content on social media platforms to promote a product or service.</p>

    <h2>4. Video Advertising</h2>
    <p>Video ads are promotional content displayed in online videos. They can be pre-roll, mid-roll, or post-roll ads.</p>

    <h2>5. Email Marketing</h2>
    <p>Email marketing involves sending targeted messages to a group of people via email to promote a product or service.</p>

</body>
</html>