<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>viewads</title>
</head>
<body>
<h2> ADS that posted:</h2>
<center><img src="https://i.pinimg.com/1200x/0d/e9/7c/0de97c41a0da7409f62e0a8e3f08b842.jpg" width="250" height="200"></center>

<center><p>Ad posted at: Instagram<br>No of accounts reached:27647<br> Rating:4.5/5</br></center>

    <center><img src="https://i.pinimg.com/736x/31/70/a7/3170a718979579879f8a0ef3938eb20b.jpg" width="250" height="200">
</center>
<center><p>Ad posted at: FaceBook<br>No of accounts reached:12435<br> Rating:5/5</br></center>



</body>
</html>
